@import "tailwindcss";
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f4f7f9;
  color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}